/* body{
    background-color: aqua;
} */

nav{
    height: 100px;
    background-color: rgb(45, 43, 43);
}

.navbar_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoimg{
    width: 250px;
    height: 75px;
}
.navbar_menu{
    align-items: center;
    list-style: none;
}
#navbar_menu_items{
    display: inline;
    color: white;
    margin: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown_item {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 100%;
  }
  .dropdown_item a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-bottom:1px solid white;
  }
  .dropdown:hover .dropdown_item {
    display: block;
  }
  .dropdown_item a:hover {
     background-color: #f8f8ff
    }


#experience h4{
    text-align: center;
}

.exp-card{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}


footer{
    background-color: rgb(45, 43, 43);
    position: absolute;
    bottom: 0;
}


.footer_div{
    display: flex;
    align-items: center;
    text-align: center;
}

.footer_div_child{
    flex: 1;
}
.footer_div_child:first-child {
    margin-right: 20px;
}
.footer_div p{
    color: white;
}
.footer_div li{
    list-style: none;
}
.footer_div a{
    text-decoration: none;
}